body{
	font-family: "Graphik", sans-serif; 
}
a{
	color: #555555;
	font-weight: 	bold;
	text-decoration: none;
}

h1{

}
.active{
	border-bottom-style: solid;
	border-color: #fff;
}

.page{
	align-self: center;
    margin-left: -9px;
    margin-right: auto;
    margin-top: -10px;
    flex: none;
    width: 100vw;
}

.header-container{
	position: sticky;
	display: flex;
	flex: nowrap;
	top: 0;
	align-content: center;
	align-items: center;
	justify-items: center;
	height: 50px;
	flex-direction: row;
	background: black;
	padding-left: 10px;
}

.header-name{
	margin-left: 1vw;
}

.header-nav{
	margin-left: 10vw;
	display: flex;
	flex: nowrap;
	flex-direction: row;
}
.header-nav-list{
	flex: none;
	display: flex;
	align-items: stretch;
	position: relative;
	padding: 10px;
	margin: 10px;
}

.intro{
	display: flex;
	flex: nowrap;
	flex-direction: row;
	font-size: 20px;
}

.intro-text{
	width: 50%;
	flex-direction: column;
	position: static;
}
.pleft{
	position: relative;
	padding-left: 10vw;
	text-align: left;
}

.pright{
	position: relative;
	padding-right: 10vw;
	text-align: right;
}
.f-color{
	color: #999999;
}

.f-color:hover{
	color:  #fff;
}

